footer {
    background-color: darken($color-location, 70%);
    .contain-footer {
        display: flex;
        flex-direction: column;
        padding-bottom: 3%;
        padding-top: 3%;
        padding-left: 5%;
        color: white;
        a {
            color: white;
            line-height: 1.8em
        }
        .footer-title {
            margin-bottom: 1em;
            font-size: 1.2em;
        }
    }
}