@import "../utils/mixins";
.header {
    display: flex;
    align-items: center;
    .header-logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.header-previous {
    width: 10%;
    text-align: center;
    margin-left: 5%;
    z-index: 1;
    position: absolute;
}