@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* définition des breakpoints dans une map*/
/* Creation des mixins avec pour velurs les clefs de ma map*/
/* Creation des mixins avec pour velurs les clefs de ma map*/
body {
  font-family: "Roboto", "Open Sans", "lato", "Ubuntu", sans-serif;
}

.restaurant-title__h2,
.footer-title {
  font-family: "Shrikhand", "Playfair Display", cursive;
}

h1 {
  font-family: "Shrikhand", "Playfair Display", cursive;
  font-size: 2em;
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  h1 {
    font-size: 3em;
  }
}
@media screen and (min-width: 992px) and (max-width: 4000px) {
  h1 {
    font-size: 4em;
  }
}

h2 {
  font-size: 1.7em;
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  h2 {
    font-size: 2em;
  }
}
@media screen and (min-width: 992px) and (max-width: 4000px) {
  h2 {
    font-size: 2.4em;
  }
}

h3 {
  font-weight: 100;
  font-size: 1.4em;
  margin-left: 5%;
}

h4 {
  margin: 0px;
}

p {
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: black;
}

.heart-unchecked {
  font-size: 2em;
  cursor: pointer;
}

.heart-checked {
  font-size: 2em;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Creation des mixins avec pour velurs les clefs de ma map*/
@media screen and (min-width: 992px) and (max-width: 4000px) {
  .contain {
    max-width: 1600px;
    min-width: 1600px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}

/* Creation des mixins avec pour velurs les clefs de ma map*/
.header {
  display: flex;
  align-items: center;
}
.header .header-logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-previous {
  width: 10%;
  text-align: center;
  margin-left: 5%;
  z-index: 1;
  position: absolute;
}

footer {
  background-color: #3a3a3a;
}
footer .contain-footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
  padding-top: 3%;
  padding-left: 5%;
  color: white;
}
footer .contain-footer a {
  color: white;
  line-height: 1.8em;
}
footer .contain-footer .footer-title {
  margin-bottom: 1em;
  font-size: 1.2em;
}

/* Creation des mixins avec pour velurs les clefs de ma map*/
.btn-basic {
  text-decoration: none;
  border: none;
  height: 50px;
  border-radius: 25px;
  box-shadow: 10px 11px 15px #ececec;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: white;
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
}
.btn-basic:hover {
  box-shadow: 10px 11px 5px #ececec;
  background: linear-gradient(175deg, #ff93e1, #a16be0);
}
.btn-basic:focus {
  outline: none;
}
.btn-basic__order {
  width: 150px;
}
@media screen and (min-width: 992px) and (max-width: 4000px) {
  .btn-basic {
    width: 240px;
  }
}

/* Creation des mixins avec pour velurs les clefs de ma map*/
/* définition des breakpoints dans une map*/
.operation-cards {
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-left: 7%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 86%;
  margin-right: 2%;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (min-width: 992px) and (max-width: 4000px) {
  .operation-cards {
    width: 23%;
  }
}
.operation-cards .operation-cards-number {
  background-color: #9356DC;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -5%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.operation-cards .operation-cards-icon {
  margin-left: 10px;
  margin-right: 10px;
  color: #a0a0a0;
}

.cards {
  position: relative;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 90%;
  border-radius: 25px;
  box-shadow: 10px 11px 15px #ececec;
  margin-bottom: 20px;
  background-color: white;
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .cards {
    width: 40%;
  }
}
@media screen and (min-width: 992px) and (max-width: 4000px) {
  .cards {
    width: 40%;
  }
}
.cards a {
  width: 100%;
}
.cards .cards-img img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .cards .cards-img img {
    height: 200px;
  }
}
@media screen and (min-width: 992px) and (max-width: 4000px) {
  .cards .cards-img img {
    height: 250px;
  }
}

.cards-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 4%;
}
.cards-bottom .cards-text {
  text-decoration: none;
  line-height: 0.3em;
  margin: 12px;
}

/*cards "nouveau" sur photo*/
.cards-news {
  position: absolute;
  background-color: #99E2D0;
  color: #32b091;
  padding: 1.5%;
  margin: 3%;
  right: 1rem;
  top: 1rem;
  width: 62px;
  border-radius: 5px;
}

/*Cards du menu*/
.dish-cards-line {
  background-color: white;
  box-shadow: 10px 11px 15px #ececec;
  width: 80%;
  height: 70px;
  max-height: 70px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 1.7em;
  margin-bottom: 1em;
  cursor: pointer;
}
@media screen and (min-width: 992px) and (max-width: 4000px) {
  .dish-cards-line {
    width: 97%;
  }
}
.dish-cards-line__text {
  padding-left: 3%;
  width: 75%;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish-cards-line__text h4 {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish-cards-line__price {
  margin-bottom: -28px;
  padding-right: 20px;
  padding-left: 20px;
}

.dish-cards-line {
  opacity: 0;
}
.dish-cards-line .dish-cards-line__check {
  width: 0px;
  opacity: 0;
  visibility: hidden;
  background-color: #99E2D0;
  height: 100%;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dish-cards-line .dish-cards-line__check__icon {
  color: white;
  transition: visibility 10ms;
}

/* définition des breakpoints dans une map*/
/* Creation des mixins avec pour velurs les clefs de ma map*/
.location {
  background-color: #ececec;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location .location-icon {
  margin-right: 10px;
}
.location .location-select {
  appearance: none;
  border: none;
  background: #ececec;
}

.booking {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3%;
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .booking {
    width: 40%;
    float: left;
    padding-bottom: 8%;
  }
}
@media screen and (min-width: 992px) and (max-width: 4000px) {
  .booking {
    padding-top: 1%;
    padding-bottom: 1%;
  }
}
.booking .btn-basic {
  margin-top: 1em;
  margin-bottom: 1em;
}

.operation h2 {
  padding-left: 10%;
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .operation h2 {
    display: flex;
  }
}
@media screen and (min-width: 992px) and (max-width: 4000px) {
  .operation h2 {
    display: flex;
    padding-top: 2%;
    padding-left: 5%;
  }
}

.operation-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .operation-contain {
    width: 44%;
    padding-left: 3%;
    padding-bottom: 5%;
  }
}
@media screen and (min-width: 992px) and (max-width: 4000px) {
  .operation-contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2%;
  }
}

#restaurants {
  background-color: #f6f6f6;
  padding-top: 1%;
}
#restaurants h2 {
  margin-left: 5%;
}
#restaurants a {
  color: black;
}

.restaurants-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .restaurants-contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 992px) and (max-width: 4000px) {
  .restaurants-contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.img-presentation img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

/* définition des breakpoints dans une map*/
/* Creation des mixins avec pour velurs les clefs de ma map*/
/*Pages menu*/
.menu {
  margin-top: -66px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.menu .restaurant-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0px 0px;
}
.menu .restaurant-title i {
  font-size: 2em;
}

.menu-dishs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f6f6f6;
}
@media screen and (min-width: 992px) and (max-width: 4000px) {
  .menu-dishs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.dish .separator {
  background-color: #99E2D0;
  margin-left: 5%;
  width: 13%;
  height: 0.2rem;
  margin-top: -10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) and (max-width: 4000px) {
  .dish {
    width: 30%;
  }
}

.dish-block-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f6f6f6;
}

/* définition des breakpoints dans une map*/
/******************************* LOADER ****************************************/
.loader {
  animation: disappearance 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.loader ul li:nth-child(1) {
  animation: bounce 1s infinite linear;
  animation-delay: 0.1s;
}

.loader {
  animation: disappearance 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.loader ul li:nth-child(2) {
  animation: bounce 1s infinite linear;
  animation-delay: 0.2s;
}

.loader {
  animation: disappearance 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.loader ul li:nth-child(3) {
  animation: bounce 1s infinite linear;
  animation-delay: 0.3s;
}

@keyframes disappearance {
  0% {
    opacity: 1;
    z-index: 1000;
  }
  50% {
    opacity: 1;
    z-index: 1000;
  }
  90% {
    opacity: 1;
    z-index: 1000;
  }
  99% {
    opacity: 0.3;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    color: transparent;
  }
  50% {
    color: #FF79DA;
    transform: translateY(-20px);
  }
  100% {
    color: #99E2D0;
    transform: translateY(0);
  }
}
/******************************COMMUNES*******************************************************/
.cards-icon .heart-checked {
  display: none;
}
.cards-icon:hover .heart-unchecked {
  display: none;
}
.cards-icon:hover .heart-checked {
  display: block;
  transform: scaleX(1);
  animation-name: get-fat;
  animation-duration: 1s;
}

@keyframes get-fat {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/******************************* PAGE D ACCUEIL ****************************************/
.operation-cards:hover {
  background-color: #ece1f9;
}

.cards:hover {
  transform: scale(1.02);
  transition: 0.3s;
}

/******************************* PAGE MENU ****************************************/
.dish-cards-line:nth-child(1) {
  animation-delay: 300ms;
  animation-name: smooth-slideup;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}

.dish-cards-line:nth-child(2) {
  animation-delay: 600ms;
  animation-name: smooth-slideup;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}

.dish-cards-line:nth-child(3) {
  animation-delay: 900ms;
  animation-name: smooth-slideup;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}

.dish-cards-line:nth-child(4) {
  animation-delay: 1200ms;
  animation-name: smooth-slideup;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}

@keyframes smooth-slideup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.dish-cards-line__text {
  transition: all 500ms ease-in;
}

.dish-cards-line .dish-cards-line__check {
  animation: out 500ms ease-in forwards;
}
.dish-cards-line .dish-cards-line__check__icon {
  animation: check-etator 500ms linear;
}
.dish-cards-line:hover .dish-cards-line__check {
  animation: in 500ms ease-in forwards;
}
.dish-cards-line:hover .dish-cards-line__check__icon {
  animation: check-rotate 500ms linear;
}

@keyframes in {
  0% {
    width: 0px;
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0.2;
    visibility: visible;
  }
  100% {
    width: 60px;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes out {
  0% {
    opacity: 1;
    width: 60px;
    visibility: visible;
  }
  90% {
    opacity: 0.3;
    width: 5px;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    width: 0px;
  }
}
@keyframes check-rotate {
  from {
    transform: rotate(0deg);
    visibility: hidden;
  }
  to {
    transform: rotate(360deg);
    visibility: visible;
  }
}
@keyframes check-etator {
  from {
    transform: rotate(360deg);
    visibility: visible;
  }
  to {
    transform: rotate(0deg);
    visibility: hidden;
  }
}
/* définition des breakpoints dans une map*/
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  opacity: 0.5;
}
.loader ul {
  list-style: none;
  font-size: 3rem;
  position: relative;
  margin: auto;
  padding-left: 0px;
  display: inline-flex;
}
.loader ul li {
  margin: 15px;
  color: #ececec;
}

/*# sourceMappingURL=style.css.map */
