@import '../utils/mixins';
.btn-basic {
    text-decoration: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    box-shadow: 10px 11px 15px $color-location;
    background: linear-gradient(175deg, $color-secondary, $color-primary);
    color: $color-background;
    cursor: pointer;
    padding-left: 1em;
    padding-right: 1em;
    &:hover {
        box-shadow: 10px 11px 5px $color-location;
        background: linear-gradient(175deg, lighten($color-secondary, 5), lighten($color-primary, 5));
    }
    &:focus {
        outline: none;
    }
    &__order {
        width: 150px;
    }
    @include media(desktop) {
        width: 240px;
    }
}