@import '../utils/mixins';
@import '../utils/variables';
//Cards de la page d'accueil
// cards fonctionnement
.operation-cards {
    background-color: lighten($color: $color-location, $amount: 4%);
    border-radius: 20px;
    margin-left: 7%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 86%;
    margin-right: 2%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include media(desktop) {
        width: 23%;
    }
    .operation-cards-number {
        background-color: $color-primary;
        height: 30px;
        width: 30px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -5%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .operation-cards-icon {
        margin-left: 10px;
        margin-right: 10px;
        color: darken($color-location, 30%);
    }
}

// Cards restaurants
.cards {
    position: relative; // Pour que l'etiquette news se positionne dessus
    display: flex;
    flex-direction: row;
    height: auto;
    width: 90%;
    border-radius: 25px;
    box-shadow: 10px 11px 15px $color-location;
    margin-bottom: 20px;
    background-color: white;
    @include media(tablet) {
        width: 40%;
    }
    @include media(desktop) {
        width: 40%;
    }
    a {
        width: 100%;
    }
    .cards-img {
        img {
            width: 100%;
            height: 140px;
            object-fit: cover;
            border-radius: 25px 25px 0px 0px;
            @include media(tablet) {
                height: 200px;
            }
            @include media(desktop) {
                height: 250px;
            }
        }
    }
}

.cards-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 4%;
    .cards-text {
        text-decoration: none;
        line-height: 0.3em;
        margin: 12px;
    }
}


/*cards "nouveau" sur photo*/

.cards-news {
    position: absolute;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 30%);
    padding: 1.5%;
    margin: 3%;
    right: 1rem;
    top: 1rem;
    width: 62px;
    border-radius: 5px;
}


/*Cards du menu*/

.dish-cards-line {
    background-color: white;
    box-shadow: 10px 11px 15px $color-location;
    width: 80%;
    height: 70px;
    max-height: 70px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: 1.7em;
    margin-bottom: 1em;
    cursor: pointer;
    @include media(desktop) {
        width: 97%;
    }
    &__text {
        padding-left: 3%;
        width: 75%;
        max-height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        h4 {
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &__price {
        margin-bottom: -28px;
        padding-right: 20px;
        padding-left: 20px;
    }
}

.dish-cards-line {
    opacity: 0;
    .dish-cards-line__check {
        width: 0px;
        opacity: 0;
        visibility: hidden;
        background-color: $color-tertiary;
        height: 100%;
        border-radius: 0 15px 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &__icon {
            color: white;
            transition: visibility 10ms;
        }
    }
}