@import '../utils/variables';
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: lighten($color: $color-location, $amount: 4%);
    opacity: 0.5;
    ul {
        list-style: none;
        font-size: 3rem;
        position: relative;
        margin: auto;
        padding-left: 0px;
        display: inline-flex;
        li {
            margin: 15px;
            color: $color-location;
        }
    }
}