@import "../utils/variables";
@import "../utils/mixins";

.location {
    background-color: $color-location;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    .location-icon {
        margin-right: 10px;
    }
    .location-select {
        appearance: none;
        border: none;
        background: $color-location;
    }
}

.booking {
    background-color: lighten($color: $color-location, $amount: 4%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3%;
    @include media(tablet) {
        width: 40%;
        float: left;
        padding-bottom: 8%;
    }
    @include media(desktop) {
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .btn-basic{
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

.operation {
    h2 {
        padding-left: 10%;
        @include media(tablet) {
            display: flex;
        }
        @include media(desktop) {
            display: flex;
            padding-top: 2%;
            padding-left: 5%;
        }
    }
}

.operation-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
    @include media(tablet) {
        width: 44%;
        padding-left: 3%;
        padding-bottom: 5%;
    }
    @include media(desktop) {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 2%;
    }
}

#restaurants {
    background-color: lighten($color: $color-location, $amount: 4%);
    padding-top: 1%;
    h2 {
        margin-left: 5%;
    }
    a {
        color: black;
    }
}

.restaurants-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media(tablet) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @include media(desktop) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.img-presentation {
    img {
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
}