@import "../utils/mixins";

.contain{
    @include media(desktop) {
        max-width: 1600px;
        min-width: 1600px;
        display: flex;
        flex-direction: column;
        margin: auto;    }
}