@import "../utils/mixins";
body {
    font-family: 'Roboto', 'Open Sans', 'lato', 'Ubuntu', sans-serif;
}

.restaurant-title__h2,
.footer-title {
    font-family: 'Shrikhand', 'Playfair Display', cursive;
}

h1 {
    font-family: 'Shrikhand', 'Playfair Display', cursive;
    font-size: 2em;
    @include media(tablet) {
        font-size: 3em;
    }
    @include media(desktop) {
        font-size: 4em;
    }
}

h2 {
    font-size: 1.7em;
    @include media(tablet) {
        font-size: 2em;
    }
    @include media(desktop) {
        font-size: 2.4em;
    }
}

h3 {
    font-weight: 100;
    font-size: 1.4em;
    margin-left: 5%;
}

h4 {
    margin: 0px;
}

p{
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: black;
}

//icon coeur
.heart-unchecked {
    font-size: 2em;
    cursor: pointer;
}

.heart-checked {
    font-size: 2em;
    cursor: pointer;
    //permet de faire un dégradé sur une font ici un icon
    background: -webkit-gradient(linear, left top, left bottom, from($color-primary), to($color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}