@import "../utils/variables";
@import "../utils/mixins";

/*Pages menu*/

.menu {
    margin-top: -66px;
    width: 100%;
    background-color: white;
    //position: absolute;
    display: flex;
    flex-direction: column;
    .restaurant-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 3%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: lighten($color: $color-location, $amount: 4%);
        border-radius: 25px 25px 0px 0px;
        i {
            font-size: 2em;
        }
    }
}

.menu-dishs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lighten($color: $color-location, $amount: 4%);

    @include media(desktop) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.dish {
    .separator {
        background-color: $color-tertiary;
        margin-left: 5%;
        width: 13%;
        height: 0.2rem;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    @include media(desktop) {
        width: 30%;
    }
}

.dish-block-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: lighten($color: $color-location, $amount: 4%);
}