    @import '../utils/variables';
    /******************************* LOADER ****************************************/
    
    @for $i from 1 through 3 {
        .loader {
            animation: disappearance 3s;
            animation-fill-mode: forwards;
            opacity: 0;
            ul {
                li:nth-child(#{$i}) {
                    animation: bounce 1s infinite linear;
                    animation-delay: $i * 0.1s;
                }
            }
        }
    }
    
    //keyframes animations loader global
    @keyframes disappearance {
        0% {
            opacity: 1;
            z-index: 1000;
        }
        50% {
            opacity: 1;
            z-index: 1000;
        }
        90% {
            opacity: 1;
            z-index: 1000;
        }
        99% {
            opacity: 0.3;
            z-index: 1000;
        }
        100% {
            opacity: 0;
            z-index: -1000;
        }
    }
    
    //keyframes animation couverts 
    @keyframes bounce {
        // animation rebond et changement de couleur
        0% {
            transform: translateY(0);
        }
        30% {
            color: transparent;
        }
        50% {
            color: $color-secondary;
            transform: translateY(-20px);
        }
        100% {
            color: $color-tertiary;
            transform: translateY(0);
        }
    }
    /******************************COMMUNES*******************************************************/
    
    //animation coeur 
    .cards-icon {
        .heart-checked {
            display: none;
        }
        &:hover {
            .heart-unchecked {
                display: none;
            }
            .heart-checked {
                display: block;
                transform: scaleX(1);
                animation-name: get-fat;
                animation-duration: 1s;
            }
        }
    }
    
    //faire grossir le coeur
    @keyframes get-fat {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    /******************************* PAGE D ACCUEIL ****************************************/
    
    //survol fonctionnement
    .operation-cards:hover {
        background-color: lighten($color: $color-primary, $amount: 33%);
    }
    
    //animation survol cards
    .cards {
        &:hover {
            transform: scale(1.02);
            transition: 0.3s;
        }
    }
    /******************************* PAGE MENU ****************************************/
    
    // animation arrivés cards menu 
    @for $i from 1 through 4 {
        .dish-cards-line:nth-child(#{$i}) {
            animation-delay: $i * 300ms;
            animation-name: smooth-slideup;
            animation-duration: 2000ms;
            animation-fill-mode: forwards;
        }
    }
    
    @keyframes smooth-slideup {
        0% {
            transform: translateY(30px);
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }
    
    .dish-cards-line__text {
        transition: all 500ms ease-in;
    }
    
    // animation check menu
    .dish-cards-line {
        .dish-cards-line__check {
            animation: out 500ms ease-in forwards;
            &__icon {
                animation: check-etator 500ms linear;
            }
        }
        &:hover {
            .dish-cards-line__check {
                animation: in 500ms ease-in forwards;
                &__icon {
                    animation: check-rotate 500ms linear;
                }
            }
        }
    }
    
    @keyframes in {
        0% {
            width: 0px;
            opacity: 0;
            visibility: hidden;
        }
        50% {
            opacity: .2;
            visibility: visible;
        }
        100% {
            width: 60px;
            opacity: 1;
            visibility: visible;
        }
    }
    
    @keyframes out {
        0% {
            opacity: 1;
            width: 60px;
            visibility: visible;
        }
        90% {
            opacity: .3;
            width: 5px;
            visibility: visible;
        }
        100% {
            opacity: 0;
            visibility: hidden;
            width: 0px;
        }
    }
    
    @keyframes check-rotate {
        from {
            transform: rotate( 0deg);
            visibility: hidden;
        }
        to {
            transform: rotate( 360deg);
            visibility: visible;
        }
    }
    
    @keyframes check-etator {
        from {
            transform: rotate( 360deg);
            visibility: visible;
        }
        to {
            transform: rotate( 0deg);
            visibility: hidden;
        }
    }