/* Creation des mixins avec pour velurs les clefs de ma map*/

@mixin media($_key) {
    @media screen and (min-width: map-get($breakpoints-min, $_key)) and (max-width: map-get($breakpoints-max, $_key)) {
        & {
            @content;
        }
    }
}

