$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: white;
$color-location: #ececec;

/* définition des breakpoints dans une map*/

$breakpoints-max: ( "tablet": 991px, "desktop": 4000px, );
$breakpoints-min: ( "tablet": 767px, "desktop": 992px, );
